body {
  background-color: #faf9f6;
}

.btn {
  min-width: 80px;
  height: 3rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
  font-size: 1.2rem;
}

.board-background {
  display: flex;
  justify-content: space-around;
}

#board-wrapper {
  display: flex;
  justify-content: center;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, calc((var(--cell-width) + 1px) * 3));
  grid-template-rows: repeat(3, calc((var(--cell-height) + 1px) * 3));
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--board-border);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

.square {
  display: grid;
  grid-template-columns: repeat(3, var(--cell-width));
  grid-template-rows: repeat(3, var(--cell-height));
  border: 2px solid var(--square-border);
}

.cell {
  display: flex;
  border: 1px solid var(--cell-border);
  background-color: var(--cell-colour);
  width: var(--cell-width);
  height: var(--cell-height);
  justify-content: center;
  align-items: center;
  position: relative;
}

.cell .candidate-number-holder {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(5, calc(var(--cell-width) / 5));
  grid-template-rows: repeat(2, calc(var(--cell-height) / 5));
  row-gap: calc(var(--cell-height) * 2.5 / 5);
  top: 3px;
  left: 3px;
}

.candidate-number {
  color: var(--candidate-number-colour);
  font-size: 0.5rem;
}

.board-input {
  background-color: var(--cell-colour);
  border: 1px;
  box-shadow: none;
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
  text-align: center;
}

.active {
  border: 2px solid #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 25px auto;
}

@keyframes pulse {
  0% {
    font-size: 1rem;
  }
  50% {
    font-size: 1.5rem;
    color: red;
  }
  100% {
    font-size: 1rem;
  }
}

.warning {
  animation: pulse 1s;
  animation-iteration-count: 1;
}

.hint-on {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  color: white;
}

.hint-on:hover {
  color: white;
}

.modal-title {
  display: block;
  margin: auto;
}

.modal-body {
  text-align: center;
}

.modal-body button {
  margin: 15px auto;
}

.modal-body h5 {
  margin: 40px auto;
}

.modal-body .modal-title {
  margin: 10px auto;
}

.difficulty {
  display: block;
}

.buttons-area {
  display: flex;
}

.confetti {
  display: flex;
  align-items: center;
  font-family: "Noto Color Emoji", Helvetica;
  font-size: 6rem;
}

.url-field {
  display: flex;
  background-color: var(--cell-border);
  border-radius: 5px;
  margin: 15px;
}

.share button {
  display: block;
  margin: 5px;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.url {
  display: flex;
  background-color: transparent;
  border: none;
  padding-left: 10px;
  align-items: center;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  flex-grow: 2;
  font-size: 0.8rem;
  color: var(--candidate-number-colour);
}

.fa-clipboard {
  color: white;
  width: 40px;
}

.fa-clipboard.clicked {
  color: var(--bs-primary);
}

.toast-header img {
  width: 24px;
}

@media screen and (max-width: 575px) {
  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .btn {
    min-width: 30px;
    height: 2rem;

    font-size: 0.8rem;
  }

  .menu {
    margin: 10px auto;
  }

  #board-wrapper {
    margin: 10px auto;
  }

  #board {
    padding: 10px auto;
    grid-template-columns: repeat(3, calc((var(--cell-width) + 1px) * 2));
    grid-template-rows: repeat(3, calc((var(--cell-height) + 1px) * 2));
  }
  .square {
    grid-template-columns: repeat(3, calc((var(--cell-width)) * 2 / 3));
    grid-template-rows: repeat(3, calc((var(--cell-height)) * 2 / 3));
  }

  .cell {
    width: calc(var(--cell-width) * 2 / 3);
    height: calc(var(--cell-height) * 2 / 3);
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .cell .candidate-number-holder {
    grid-template-columns: repeat(5, calc(var(--cell-width) / 5 * 2 / 3 - 1px));
    grid-template-rows: repeat(2, calc(var(--cell-height) / 4 * 2 / 3));
    row-gap: calc(var(--cell-height) / 4);
    top: 2px;
    left: 2px;
  }

  .active {
    border: 1px solid #9ecaed;
    box-shadow: none;
  }
}
